.left-side {
  width: 48px;
  height: 100%;
  padding: 10px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 8px 2px #0000000f;
  border-radius: 2px;
  background-color: #ffffff;
  left: -48px;
  animation: bounce-left-side 0.5s 0.3s forwards;
}
.left-side ul {
  list-style-type: none;
}
.left-side ul li {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.left-side ul li:hover {
  background-color: #ece9e9;
}
@keyframes bounce-left-side {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
