.right-side {
  width: 350px;
  height: 100%;
  box-shadow: -2px 4px 6px 5px #00000008;
  border-radius: 2px;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  animation: bounce-right-side 0.7s;
}
.right-side .empty {
  margin-top: 350px;
  align-self: center;
}
.right-side .classify-title {
  padding: 10px;
  animation: bounce-classify-title 0.3s;
}
.right-side .classify {
  height: 90%;
  padding: 10px;
  animation: bounce-right-side 0.7s;
}
.right-side .classify .one-set {
  width: 100%;
  height: 80%;
  margin-top: 20px;
  padding: 0 15px;
  overflow-y: auto;
  position: absolute;
}
.right-side .classify .classify-props {
  margin-bottom: 20px;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 6px 1px #0003;
  border-radius: 3px;
  transition: all 0.3s linear;
}
.right-side .classify .classify-props .props-module .props-single {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.right-side .classify .classify-props .props-module .props-single .props-title {
  width: 150px;
  margin: 0 10px;
  word-break: keep-all;
}
.right-side .classify .classify-props .props-module .props-single .input {
  flex-grow: 2;
}
.right-side .classify .classify-props .props-module .event-select {
  width: 100%;
}
.right-side .classify .classify-props:hover {
  background-color: #fff;
  box-shadow: 1px 1px 6px 3px #0003;
}
.right-side .classify .o-s-p {
  animation: bounce-o-s-p 0.5s forwards;
}
.right-side .classify .o-s-s-l {
  animation: bounce-o-s-s-l 0.5s forwards;
}
.right-side .classify .o-s-s-r {
  animation: bounce-o-s-s-r 0.5s forwards;
}
.right-side .classify .o-s-e {
  animation: bounce-o-s-e 0.5s forwards;
}
.right-side .c-del {
  width: 100%;
  padding: 5px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
.right-side .c-del .del-comp {
  width: 80%;
  margin-bottom: 15px;
  border-radius: 5px;
}
@keyframes bounce-right-side {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounce-classify-title {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounce-o-s-p {
  0% {
    opacity: 0;
    left: 100%;
  }
  75% {
    opacity: 1;
  }
  100% {
    left: 0;
  }
}
@keyframes bounce-o-s-s-l {
  0% {
    opacity: 0;
    left: -100%;
  }
  75% {
    opacity: 1;
  }
  100% {
    left: 0;
  }
}
@keyframes bounce-o-s-s-r {
  0% {
    opacity: 0;
    left: 100%;
  }
  75% {
    opacity: 1;
  }
  100% {
    left: 0;
  }
}
@keyframes bounce-o-s-e {
  0% {
    opacity: 0;
    left: -100%;
  }
  75% {
    opacity: 1;
  }
  100% {
    left: 0;
  }
}
