* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
  animation: bounce-body 1s forwards;
}
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.app {
  width: 100%;
  height: 100%;
}
.content {
  height: calc(100% - 52px);
  display: flex;
}
.tab {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  margin-bottom: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  animation: bounce-tab 0.3s ease-out;
}
.tab .high {
  background-color: #f2f2f2;
}
.tab .ipad {
  transform: scale(0.95) rotate(270deg);
}
.tab .cur-screen {
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}
.tab ul {
  list-style-type: none;
  display: flex;
}
.tab ul li {
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
}
.tab ul button {
  margin-right: 10px;
  border-radius: 3px;
}
@keyframes bounce-body {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #d5d5d5;
  }
}
@keyframes bounce-tab {
  0% {
    opacity: 0;
    transform: translateY(-48px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
