.center {
  height: 100%;
  margin: 0 3px;
  padding: 5px;
  flex-grow: 2;
  overflow: auto;
}
.center .canvas {
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #f8f8f8;
  box-shadow: 0 0 13px 2px #00000014;
  position: relative;
  transition: all 0.6s;
  animation: bounce-canvas 0.8s linear;
}
.center .canvas .shield {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.15);
}
.center .canvas .look-me {
  height: 40px;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 0;
  left: -101px;
  user-select: none;
  z-index: 99999;
  cursor: move;
  font-weight: 700;
  border-radius: 5px;
  color: #ffffff;
  background-color: #3B9AE1;
  box-shadow: 0 0 11px 0px #0000004d;
}
.center .static {
  position: absolute;
  transition: none;
  user-select: none;
}
@keyframes bounce-canvas {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
